---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Timer from "../components/Timer.astro";
---

<Layout title="CodeCombat | Retos de programación">
  <Header />

  <div class="p-5 min-h-screen page-background">
    <svg
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
      class="w-full h-[80vh] text-white hidden md:flex"
      fill="currentColor"
    >
      <path
        fill-opacity="0.1"
        stroke="white"
        stroke-width="0.1"
        d="
        M
        0,5
        C
        0,1.5
        1.5,0
        3,0
        H
        23
        C
        24.5,0
        25.8,1
        26.5,2.5
        L
        28.72,10.5
        C
        29,11.2
        29.7,15.5
        30.5,15.5
        H
        97
        C
        98.5,15.5
        100,16
        100,18.5
        V
        89.5
        C
        100,91
        98.5,92.5
        97,92.5
        L
        47.86,92.5
        C
        46.5,92.9
        45.3,93.8
        44.8,95
        L
        43.51,98
        42.89,99

        41.1,99


        H
        32.92
        C
        31.5,99
        30.3,98
        29.8,96.7
        L
        28.72,92.63
        C
        28.4,91.8
        27.6,91.3
        26.7,91.3
        H
        11.22
        C
        9.8,91.3
        8.5,92.3
        8,93.6
        L
        6.91,97
        H
        3
        C
        1.5,97
        0,95.5
        0,90
        Z"
      ></path>
    </svg>
    <main class="md:absolute mt-24 md:mt-0 top-[18vh] left-16 md:w-[91vw]">
      <h2 class="text-3xl text-white font-bold mb-6">
        <span class="text-lg font-semibold md:mr-[20vw]">Reto semanal:</span>
        <br class="md:hidden" />¡ENCUENTRA EL <span class="text-cyan-400"
          >ESPACIO PERDIDO</span
        >!
      </h2>
      <p class="text-white">
        John Mamani Bolqueta, un talentoso programador, enfrenta un desafío
        importante: la memoria de su computadora Kipus, proporcionada por el
        gobierno, está casi llena de node_modules. Esta acumulación le dificulta
        trabajar, ya que cada vez que instala un nuevo paquete con npm, el
        espacio disponible disminuye drásticamente. Ahora, la computadora <strong
          >NO LE COMPILA</strong
        > nada. La falta de espacio no solo afecta su productividad, sino que también
        pone en riesgo sus proyectos. Es fundamental encontrar una solución para
        recuperar el espacio necesario en su computadora.
      </p>

      <div class="md:flex mt-2">
        <div class="p-2 md:w-[40vw]">
          <h3 class="text-2xl font-semibold mb-4 text-white">Objetivo</h3>
          <p class="text-gray-300">
            Desarrollar un programa que escanee la computadora de John para
            listar todas las carpetas <strong>node_modules</strong>. La
            herramienta debe eliminar fácilmente las carpetas innecesarias,
            filtrando por tamaño y fecha, y dando a John la opción de liberar
            espacio de su computadora.
          </p>
        </div>

        <div class="p-2">
          <h3 class="text-2xl font-semibold mb-4 text-white">
            Funcionalidades
          </h3>
          <ul class="text-gray-300 list-disc list-inside space-y-2">
            <li>
              <strong>Búsqueda Rápida:</strong> Escanear y localizar todas las carpetas
              <strong>node_modules</strong>.
            </li>
            <li>
              <strong>Clasificación:</strong> Organizar por antiguedad, por el espacio
              que ocupa en disco.
            </li>
            <li>
              <strong>Eliminación Selectiva:</strong> Permitir a John eliminar carpetas
              individualmente o en grupos.
            </li>
            <li>
              <strong>Notificacion de espacio:</strong> Informar a John cuanto espacio
              a liberado.
            </li>
            <li>
              <strong>Multiplataforma:</strong> El programa debe funcionar en Linux,
              Windows, MacOs
            </li>
          </ul>
        </div>
      </div>
    </main>
    <br class="md:hidden" />
    <a
      class="bg-cyan-400 text-black py-[1vh] px-10 md:w-[20vw] rounded-2xl md:absolute md:mt-[-30px] md:ml-[8vw] text-[3vh] font-bold text-center"
      href="https://github.com/obed-tc/CodeCombat/issues/new/choose"
      >Iniciar reto semanal</a
    >
    <br class="md:hidden" />
    <br class="md:hidden" />

    <div
      class="bg-white bg-opacity-5 border border-white w-full md:w-[40vw] mt-5 md:mt-[-6vh] md:absolute right-32 rounded-[3vh] md:rounded-t-none md:rounded-b-[3vh] h-[15vh] md:flex items-center justify-around text-white md:text-[3vh] p-3 font-semibold"
    >
      Proximo reto en:
      <Timer />
    </div>
    <br class="md:hidden" />
    <br class="md:hidden" />

    <div class="md:absolute bottom-10 text-gray-500 flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        class="w-10"
        viewBox="0 0 50 50"
        fill="currentColor"
      >
        <path
          d="M17.791,46.836C18.502,46.53,19,45.823,19,45v-5.4c0-0.197,0.016-0.402,0.041-0.61C19.027,38.994,19.014,38.997,19,39 c0,0-3,0-3.6,0c-1.5,0-2.8-0.6-3.4-1.8c-0.7-1.3-1-3.5-2.8-4.7C8.9,32.3,9.1,32,9.7,32c0.6,0.1,1.9,0.9,2.7,2c0.9,1.1,1.8,2,3.4,2 c2.487,0,3.82-0.125,4.622-0.555C21.356,34.056,22.649,33,24,33v-0.025c-5.668-0.182-9.289-2.066-10.975-4.975 c-3.665,0.042-6.856,0.405-8.677,0.707c-0.058-0.327-0.108-0.656-0.151-0.987c1.797-0.296,4.843-0.647,8.345-0.714 c-0.112-0.276-0.209-0.559-0.291-0.849c-3.511-0.178-6.541-0.039-8.187,0.097c-0.02-0.332-0.047-0.663-0.051-0.999 c1.649-0.135,4.597-0.27,8.018-0.111c-0.079-0.5-0.13-1.011-0.13-1.543c0-1.7,0.6-3.5,1.7-5c-0.5-1.7-1.2-5.3,0.2-6.6 c2.7,0,4.6,1.3,5.5,2.1C21,13.4,22.9,13,25,13s4,0.4,5.6,1.1c0.9-0.8,2.8-2.1,5.5-2.1c1.5,1.4,0.7,5,0.2,6.6c1.1,1.5,1.7,3.2,1.6,5 c0,0.484-0.045,0.951-0.11,1.409c3.499-0.172,6.527-0.034,8.204,0.102c-0.002,0.337-0.033,0.666-0.051,0.999 c-1.671-0.138-4.775-0.28-8.359-0.089c-0.089,0.336-0.197,0.663-0.325,0.98c3.546,0.046,6.665,0.389,8.548,0.689 c-0.043,0.332-0.093,0.661-0.151,0.987c-1.912-0.306-5.171-0.664-8.879-0.682C35.112,30.873,31.557,32.75,26,32.969V33 c2.6,0,5,3.9,5,6.6V45c0,0.823,0.498,1.53,1.209,1.836C41.37,43.804,48,35.164,48,25C48,12.318,37.683,2,25,2S2,12.318,2,25 C2,35.164,8.63,43.804,17.791,46.836z"
        ></path>
      </svg>
      <label class="text-2xl font-semibold ml-3"> Github </label>
    </div>
  </div>
</Layout>

<style>
  .page-background {
    background-image: linear-gradient(
      to left top,
      #0a333f,
      #102c37,
      #13252f,
      #141e26,
      #13181d,
      #14191e,
      #141a1f,
      #151b20,
      #17232b,
      #182c36,
      #173541,
      #133f4c
    );
  }
</style>
