<header class="absolute flex justify-between w-[100vw] pl-10 pr-[2vw] pt-[5vh]">
  <a href="#" class="flex space-x-3 md:mr-20 items-center">
    <img
      class="h-10"
      src="https://cdn-icons-png.flaticon.com/512/759/759823.png"
    />
    <h1 class="text-cyan-400 font-semibold md:text-4xl">CodeCombat</h1>
  </a>

  <nav class="hidden md:flex space-x-7">
    <a
      class="bg-white bg-opacity-10 text-white font-semibold py-3 px-7 rounded-full border-b border-b-cyan-400"
      href="#"
    >
      Ranking
    </a>
    <a
      class="bg-white bg-opacity-10 text-white font-semibold py-3 px-7 rounded-full border-b border-b-cyan-400"
      href="https://github.com/obed-tc/CodeCombat"
    >
      Retos pasados
    </a>
    <a
      href="https://github.com/obed-tc/CodeCombat"
      class="bg-white bg-opacity-10 text-white font-semibold py-3 px-7 rounded-full border-b border-b-cyan-400"
    >
      Documentación
    </a>
    <a
      href="https://github.com/obed-tc"
      class="bg-white bg-opacity-10 text-white font-semibold py-3 px-7 rounded-full border-b border-b-cyan-400"
    >
      Contactar soporte
    </a>
  </nav>
  <a
    class="bg-cyan-400 text-black font-semibold py-3 px-4 md:px-10 rounded-full border-b border-b-white"
    href="https://github.com/obed-tc/CodeCombat/issues"
  >
    Participar ahora
  </a>
</header>
