<div class="flex flex-col md:mt-[-3vh]">
  <label class="text-[5vh] md:text-[8vh] text-center" id="timer">
    00:00:00:00
  </label>
  <div class="flex justify-center space-x-5 mt-[-15px] md:hidden">
    <label class="text-[2vh] text-cyan-200"> Día </label>
    <label class="text-[2vh] text-cyan-200"> Hora </label>
    <label class="text-[2vh] text-cyan-200"> Min </label>
    <label class="text-[2vh] text-cyan-200"> Seg </label>
  </div>
  <div class="md:flex justify-between ml-5 mt-[-15px] hidden">
    <label class="text-[2vh] text-cyan-200"> Dias </label>
    <label class="text-[2vh] text-cyan-200"> Horas </label>
    <label class="text-[2vh] text-cyan-200"> Minutos </label>
    <label class="text-[2vh] text-cyan-200"> Segundos </label>
  </div>
</div>

<script>
  const timerDisplay = document.getElementById("timer");
  let interval = null;

  function getNextSunday() {
    const now = new Date();
    const nextSunday = new Date(now);
    nextSunday.setDate(now.getDate() + ((7 - now.getDay()) % 7));

    nextSunday.setHours(23, 59, 59, 0);
    if (nextSunday < now) {
      nextSunday.setDate(nextSunday.getDate() + 7);
    }
    return nextSunday;
  }

  function updateDisplay(remainingSeconds) {
    const days = Math.floor(remainingSeconds / 86400)
      .toString()
      .padStart(2, "0");
    const hours = Math.floor((remainingSeconds % 86400) / 3600)
      .toString()
      .padStart(2, "0");
    const minutes = Math.floor((remainingSeconds % 3600) / 60)
      .toString()
      .padStart(2, "0");
    const seconds = (remainingSeconds % 60).toString().padStart(2, "0");
    timerDisplay.textContent = `${days}:${hours}:${minutes}:${seconds}`;
  }

  function startTimer() {
    const targetDate = getNextSunday(); // Obtener la próxima fecha de domingo a las 22:00

    interval = setInterval(() => {
      const now = new Date();
      const remainingTime = Math.max(
        0,
        Math.floor((targetDate.getTime() - now.getTime()) / 1000)
      ); // Calcular el tiempo restante
      updateDisplay(remainingTime);

      if (remainingTime <= 0) {
        clearInterval(interval);
        timerDisplay.textContent = "00:00:00:00";
        // Reiniciar el temporizador para la próxima semana
        startTimer();
      }
    }, 1000);
  }

  startTimer();
</script>
