---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Únete a nuestros retos semanales de programación y mejora tus habilidades de codificación. Participa, compite y aprende en un entorno colaborativo. ¡Desafía tu creatividad!"
    />
    <meta property="og:title" content="Retos Semanales de Programación" />
    <meta
      property="og:description"
      content="Participa en desafíos de programación semanales y mejora tus habilidades. Únete a una comunidad de programadores y aprende mientras compites."
    />
    <meta
      property="og:image"
      content="https://private-user-images.githubusercontent.com/67854304/371894055-8dac0fc4-b82d-4e67-af84-c1069b41c1b3.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3Mjc2NDcyMjMsIm5iZiI6MTcyNzY0NjkyMywicGF0aCI6Ii82Nzg1NDMwNC8zNzE4OTQwNTUtOGRhYzBmYzQtYjgyZC00ZTY3LWFmODQtYzEwNjliNDFjMWIzLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDA5MjklMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwOTI5VDIxNTUyM1omWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTk2OWY1YTZlZWY1MDM5ODZlN2JmNGIxZjNlYzZiNWQzOWE1ZWQxYTU5MWMyODQxNTNiZDU1NDkzZjczZDQ0NmEmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.bBW8PePBWmF6ENnU1xYtMev2HCPgpH3WTWycnOnk-Vc"
    />
    <meta property="og:url" content="https://codecombat2024.vercel.app/" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="CodeCombat Retos Semanales de Programación"
    />
    <meta
      name="twitter:description"
      content="Desarrolla tus habilidades de programación con retos semanales. Conéctate con otros programadores y aprende mientras compites."
    />
    <meta
      name="twitter:image"
      content="https://private-user-images.githubusercontent.com/67854304/371894055-8dac0fc4-b82d-4e67-af84-c1069b41c1b3.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3Mjc2NDcyMjMsIm5iZiI6MTcyNzY0NjkyMywicGF0aCI6Ii82Nzg1NDMwNC8zNzE4OTQwNTUtOGRhYzBmYzQtYjgyZC00ZTY3LWFmODQtYzEwNjliNDFjMWIzLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDA5MjklMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQwOTI5VDIxNTUyM1omWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTk2OWY1YTZlZWY1MDM5ODZlN2JmNGIxZjNlYzZiNWQzOWE1ZWQxYTU5MWMyODQxNTNiZDU1NDkzZjczZDQ0NmEmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.bBW8PePBWmF6ENnU1xYtMev2HCPgpH3WTWycnOnk-Vc"
    />

    <meta name="viewport" content="width=device-width" />
    <meta
      name="keywords"
      content="retos de programación, programación semanal, desafíos de codificación, habilidades de programación, comunidad de programadores"
    />
    <link rel="canonical" href="https://codecombat2024.vercel.app/" />

    <link
      rel="icon"
      type="image/png"
      href="https://cdn-icons-png.flaticon.com/512/759/759823.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #000;
  }
</style>
